.wrap {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrap>div {
    width: 60%;
}

.title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.title>h1{
    margin: 0;
}

.information {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 60px;

    border: 1px #D5D9D9 solid;
    border-radius: 6px;
}

.account_info>h1{
    margin-top: 0;
    margin-bottom: 0px;
}

row {
    display: flex;
    
    padding: 20px 30px;
    border-bottom: 1px #D5D9D9 solid;
}

row:last-child{
    flex-direction: row;
    justify-content: center;
}

.object_row{
    font-weight: bold;
}

.object_row>a{
    font-weight: normal;
}

label{
    font-weight: bold;
}
