<!DOCTYPE html>

{% load static %}

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <script src="{% static 'base.js' %}"></script>
    <link rel="stylesheet" type='text/css' href="{% static 'base.css'%}">
    <title> DentalCouponHub </title>

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <header>
      <div id="header1">
        <div id="left_side">Location</div>
        <div id="right_side">
          <div id="aid">AID</div>
          <div id="subscribe">SUBSCRIBE!</div>
        </div>
      </div>
      <div id="header2">
        <div class="have-urls" id="caetgory_and_logo" href="{% url 'coupon:list' %}">
          <div id="categories_icon"><span class="material-symbols-rounded">menu</span></div>
          <div id="logo"><a>LOGO SPACE</a></div>
        </div>
        <div id="search_box">
          <select>
            <option hidden>Categories</option>
          </select>
          <input placeholder="What do you find?" />
          <input placeholder="Location" />
          <div><span class="material-symbols-rounded">search</span></div>
        </div>
        {% if request.user.company_object.all|length > 0 %}
          <div id="ad_for_business"><a href="{% url 'company:list' %}">
            <p>You belong to comapny</p><p>Click to bussiness page!</p>
          </a></div>  
        {% else %}
          <div id="ad_for_business"><a href="{% url 'company:create' %}">
            <p>Bussiness owner?</p><p>Click here!</p>
          </a></div>
        {% endif %}
        <div id="cart_and_user">
          <div class="icon_and_word have-urls" href="{% url 'coupon:cart' %}">
            <span class="material-symbols-rounded">shopping_cart</span>
            <p>Cart</p>
            <badge>0</badge>
          </div>
          <div class="icon_and_word" id="active_user_dropdown">
            <span class="material-symbols-rounded">account_circle</span>
            <p>User</p>
          </div>
          {% if request.user.is_authenticated %}
            <div class="account_dropdown" style="display: none;">
              <a href="{% url 'custom_user:detail' %}">
                <span class="material-symbols-rounded">person</span>
                Your account
              </a>
              <a href="">
                <span class="material-symbols-rounded">list_alt</span>
                Your orders
              </a>
              <hr>
              <a href="{% url 'custom_user:logout' %}">
                <span class="material-symbols-rounded">logout</span>
                Logout</a>
            </div>
          {% else %}
            <div class="account_dropdown" style="display: none;">
              <a href="{% url 'custom_user:create' %}">
                <span class="material-symbols-rounded">person_add</span>
                Make account
              </a>
              <hr>
              <a href="{% url 'custom_user:login' %}">
                <span class="material-symbols-rounded">login</span>
                Login</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div id="header3">
        <div id="categories_str">CATEGORIES</div>
        <div class="choices">
          <div>choice1</div>
          <div>choice2</div>
          <div>choice3</div>
          <div>choice4</div>
          <div>choice5</div>
          <div>choice6</div>
          <div>choice7</div>
        </div>
      </div>
    </header>

    <div>
      {% block contents %}
      {% endblock %}
    </div>
  </body>
</html>
