{% extends 'base.html' %}
{% block contents %}

{% load widget_tweaks %}
{% load static %}
{% load myfilter %}
{% with discount=object.regular_price|clac_discount:object.offer_price %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" type='text/css' href="{% static 'coupon/coupon_detail.css'%}">

<div class="wrap">
    <div id="line1">
        <h1>{{ object.coupon_name }}</h1>
        <span>ID:{{ object.id }}</span>
    </div>

    <div id="line2">
        <div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div>
                <div id="offer_price">
                    <div>${{ object.offer_price }}</div>
                    <div>{{ discount }}%</div>
                </div>
                <div id="regular_price">
                    <span>Regular price&nbsp;</span>
                    <span>${{ object.regular_price }}</span>
                </div>
            </div>
            <div id="buttons">
                <button>Buy immediately</button>
                <button>Add to cart</button>
            </div>
            <hr>
            <div id="review_data">
                <div>
                    <span class="material-symbols-rounded">star</span>
                    <span class="material-symbols-rounded">star</span>
                    <span class="material-symbols-rounded">star</span>
                    <span class="material-symbols-rounded">star</span>
                    <span class="material-symbols-rounded">star</span>
                </div>
                <div>
                    <span>&nbsp;(No review)</span>
                </div>
            </div>
            <div id="sold_data">
                {% if object.show_sold_number %}
                    <span class="material-symbols-outlined">shopping_bag</span>
                    <span>0 Sold</span>
                {% endif %}
                {% if object.show_max_number_of_sales %}
                    <span class="material-symbols-outlined">label</span>
                    <span>{{ object.max_number_of_sales }} limit</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="line3">
        <a href="http://www.facebook.com/share.php?u={% url 'coupon:detail' object.id %}" rel="nofollow noopener" target="_blank">リンクテキスト</a>
        <a href="https://twiter.com/share?url={% url 'coupon:detail' object.id %}" rel="nofollow noopener" target="_blank">リンクテキスト</a>
    </div>

    <div id="line4">
        <div>
            {{ object.description | markdown_to_html | safe}}
        </div>
        <div>
            <div id="company_log">
                <img src="{{ object.company_object.image.url }}" alt="{{ object.company_object.name }}">
            </div>

            <div class="info_with_icon">
                <span class="material-symbols-outlined">mail</span>
                <span>&nbsp;{{ object.company_object.email }}</span>
            </div>

            <div class="info_with_icon">
                <span class="material-symbols-outlined">call</span>
                <span>&nbsp;{{ object.company_object.phone_number }}</span>
            </div>

            {% if object.address1 %}
            <div class="info_with_icon">
                <span class="material-symbols-outlined">location_on</span>
                <span>&nbsp;{{object.address2|default:""}}{% if object.address2 %}&nbsp;{% endif %}{{object.address1}} {{object.city}} {{object.province}} {{object.country_object}}</span>
            </div>
            <div id="map_information">
                <iframe src="https://maps.google.com/maps?output=embed&q={{object.address1}} {{object.city}} {{object.province}} {{object.country_object}}&t=m&z=18" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            {% endif %}

            <h3>Other coupon by {{ object.company_object.name }}</h3>
            <div>

            </div>
            <div id="view_more">
                <button>View more</button>
            </div>
        </div>
    </div>
<br>
{{ images }}

</div>

{% endwith %}
{% endblock %}