#drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

#drop-area>input{
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#image-container{
    display: flex;
    flex-wrap: wrap;
}

.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 300px;
    height: 200px;
    margin: 5px;
    border: 1px solid black;
}

.image-preview>img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.image-preview>span{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 48px;
}

button{
    height: 40px;
    width: 300px;
    margin-top: 5px;

    border: 0;
    border-radius: 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #ff7500;
    cursor: pointer;
}