{% extends 'base.html' %}
{% block contents %}

{% load widget_tweaks %}
{% load static %}

<link rel="stylesheet" type='text/css' href="{% static 'custom_user/company_create.css'%}">

<div class="wrap">

<form method="post">
    <p>Your company is already created? Please contact creater.</p>
    <h1>Company application</h1>
    
    {% if form.errors %}
        <div class="error_msg">
        {% for key, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{key}} - {{ error }}</p>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}

    {% csrf_token %}

    <row>
        <div class="field">
        <label>{{ form.name.label }}*</label>
        {{ form.name | add_class:"input_fullwidth"}}
        </div>
    </row>

    <row class="double_row">
        <div class="field">
        <label>{{ form.email.label }}*</label>
        {{ form.email }}
        </div>
        <div class="field">
        <label>{{ form.phone_number.label }}*</label>
        {{ form.phone_number }}
        </div>
    </row>
        
    <row>
        <div class="field">
        <div><label>{{ form.address1.label }}*</label> - {{ form.address1.help_text }}</div>
        {{ form.address1 | add_class:"input_fullwidth"}}
        </div>
    </row>

    <row>
        <div class="field">
        <div><label>{{ form.address2.label }}</label> - {{ form.address2.help_text }}</div>
        {{ form.address2 | add_class:"input_fullwidth"}}
        </div>
    </row>

    <row class="double_row">
        <div class="field">
        <label>{{ form.city.label }}*</label>
        {{ form.city }}
        </div>
        <div class="field">
        <label>{{ form.postal_code.label }}</label>
        {{ form.postal_code }}
        </div>
    </row>

    <row class="double_row">
        <div class="field">
        <label>{{ form.province.label }}*</label>
        {{ form.province }}
        </div>
        <div class="field">
        <label>{{ form.country_object.label }}*</label>
        {{ form.country_object }}
        </div>
    </row>

    <row>
        <div class="field">
        <label>{{ form.image.label }}*</label>
        {{ form.image | add_class:"input_image"}}
        </div>
    </row>

    <button type="submit">SUBMIT COMPANY APPLICATION</button>
    <p>*This application will be approved within 3days.</p>
</form>

</div>
{% endblock %}
